.Search-Bar{
    width: 100%;
    height: 100%;
display: flex;
flex-direction: column;
justify-content: center;

&-form{
    display: flex;
flex-direction: column;
margin-left: auto;
margin-right: auto;
}
    &-input{
        color: black;
        text-align: left; 
        width: 50vw;
        height: 50px;
        border-radius: 25px;
        margin-bottom: 10px;
    }

    &-input ::placeholder{
        margin-left: 10px;
        font-family: sans-serif;
        font-size: 18px;
    }

    &-button{
        width:50vw;
        height: 50px;
        border-radius: 25px;
        background-color: rgb(181, 6, 197);
        color: white;
        font-weight: 600;
    font-size: 24px;
    }
}

::placeholder{
    margin-left: 25px;
    font-family: sans-serif;
    font-size: 22px;
}