@mixin respond ($breakpoint) {

    @if $breakpoint==desktop {
        @media only screen and (max-width: 1048px) {
          @content;
        }
      }

    @if $breakpoint==tablet {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}

.Search-books{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
 

    &-header{
        font-family: sans-serif;
       margin: 10px auto;
       @include respond(tablet) {
       font-size:x-large
    }

    @include respond(mobile) {
        font-size: large
     }
    }

    &-display{
        margin-left: auto;
        margin-right: auto;
    }
    
    &-sort{
        width: 50vw;
        margin: 10px auto;
       
    
        &-select{
        float: right;
        font-family: sans-serif;
        font-size: 18px;

        @include respond(tablet) {
           font-size: 14px;
         }
     
         @include respond(mobile) {
            font-size: 14px;
        }
        }
    }

   
}

.errorMessage{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;

    @include respond(tablet) {
        font-size: 18px;
 
       }
   
       @include respond(mobile) {
         font-size: 18px;
 
      }
}

.errorContainer{
    width: 50vw;
    margin: 10px auto;

    @include respond(tablet) {
       width: 80vw;
       font-size: 18px;

      }
  
      @include respond(mobile) {
        width: 80vw;
        font-size: 18px;

     }
}

.selectOption{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}